/* Add "scoped" attribute to limit CSS to this component only  */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 20px;
  margin-top: 60px;
}

.shopping {
  width: 56%;
  background-color: #CCC;
  padding: 5px 20px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
}

.shopping .add .add-data {
  display: flex;
  align-items: center;
}
.shopping .btn {
  background-color: black;
  color: white;
  padding: 5px 35px;
  margin-left: 15px;
  border-radius: 8px;
}

.shopping input {
  
  width: 90px;
  height: 25px;
  padding: 2px 5px;
}

.shopping h3 {
  font-weight: normal;
}

.shopping .shopping-list .shopping-item {
  margin-bottom: 10px;
}

.shopping span {
    margin: 5px;
    padding: 10px;
  }
